.user-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src//assets/images/shop3.avif'); 
    background-size: cover;
    background-position: center;
}

.login-card {
    background: rgba(27, 26, 26, 0.374); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #f1eded;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 10px;
}

.register-link p {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: white;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
